
body{
	width: 640px;
    height: 1040px;
	margin:20px 50px;
	background: linear-gradient(green 20%,white 80%);

}

#logo{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;
	position: relative;
	width: 120px;
	height: 48px;
	left:50%;
	top: 40px;
	bottom: 0px;

}

main{
	display: inline;
	position: relative;
	top: 95px;
	right:346px ;
	bottom: 18%;
	left: 346px;;

	
}

.texto-puro{
	 height: 350px;
	 width: 300px;
	 border:none;

}
p{
	display: inline;
	position: relative;
	margin-left:25px;
	color: black;

}

.texto-encriptado{
	height: 350px;
	width: 300px;
	margin-left:20px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 15px;
}
.imagen{
	
	width: 650px;
	height: 300px;
	margin-top: -43px;
    
	
}
.boton-encriptar{
	width: 150px;
	height: 30px;
	position: relative;
	top: 20px;
	border-radius: 15px;
	background-color: #66d174;
}

.boton-desencriptar{
	width: 150px;
	height: 30px;
	position: relative;
	top: 20px;
	border-radius: 15px;

}

.boton-copiar{
	width: 150px;
	height: 30px;
	position: relative;
	top: 20px;
	margin-left:100px;
	border-radius: 15px;

}

.pie{
	position: relative;
	top:160px;
	left: 560px;
	right: 470px;
}

@media all and (min-width: 600px){
	body{		
		height: 2700px;
		width: 720px;
	}
}